<footer>
    <address>
        <h3>Desenvolvedores:</h3>
        <p style="display: flex; ">
            &nbsp;
            <a href="https://www.linkedin.com/" target="_blank">Ana Marques</a>,
            <a href="https://www.linkedin.com/" target="_blank">Caio Paula</a>,
            <a href="https://www.linkedin.com/" target="_blank">Eduardo H. dos Santos</a>,
            <a href="https://www.linkedin.com/" target="_blank">Lucas Rego</a>,
            <a href="https://www.linkedin.com/" target="_blank">Luiza Rubim</a>,
            <a href="https://www.linkedin.com/" target="_blank">Yan M. Coutinho</a>.
        </p>

    </address>

    <div style="text-align: center; max-width:100%;">
        <a href="https://www.inteli.edu.br/" target="_blank">Inteli -
            Instituto de Tecnologia e
            Liderança</a>
    </div>


</footer>