<script>
    /**
     * function that goes back to the previous page accessed by the user.
     */
        function goback(){
          history.back();
        }
</script>  
    
<header class="header-request">
  <div class="go_back">
      <button type="button" class="back_button"><img src="/img/icon_back.png" alt="voltar" class="icon_back" onclick="goback()"></button>
      <a href="/" class = "logo">PANGEIA</a>
    </div>
    <div class="table-info">
      <h3 class="db-name">
          <%= table.DATABASE %>
      </h3>  
      <h2 class="tb-name">
          <%=table.TABELA %>
      </h2>

    </div>
</header>