<!DOCTYPE html>
<html>

<head>
    <title>Tela de Loading</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="loading-container">
        <div class="loading-spinner"></div>
    

        <div class="loading-text">
            <p>Carregando...</p>
        </div>
    </div>
</body>

</html>