<div class="box-result">
    <div class="result-area">
        <h1>Sua pesquisa não encontrou nenhum resultado</h1>
        <br>
        <p class="term">O termo pesquisado não condiz com nenhuma das tabelas disponíveis no banco de dados. Tente:
        </p>
        <br>
        <ul class="center_list">
            <li>procurar por termos chaves</li>
            <li>verificar se houve algum erro de digitação </li>
            <li>verficiar os filtros utilizados</li>
        </ul>
    </div>
</div>
<div class="space1"></div>