<sidebar class="sidebar-content">
    <input class="close-buttom" type="button" value="FECHAR" onclick="closeMenu()">
        <a href="/">
            <img src="/img/🦆 icon _home 2_.svg" alt="">
            <span>Tela Inicial</span>
        </a>
        
        <a href="#">
            <img src="/img/🦆 icon _book saved_.svg" alt="">
            <span>Tutoriais</span>
        </a>
        
        <a href="/requests">
            <img src="/img/🦆 icon _note_.svg" alt="">
            <span>Requisições</span>
        </a>

        <a href="#">
            <img src="/img/Group 4.svg" alt="">
            <span>Modo Escuro</span>
        </a>
</sidebar>

<script src="/js/sidebar.js"></script>