.successtoast {
  margin: 0;
  padding: 0;
}

.successtoast {
  position: absolute;
  right: 0;
  top: 7vh;
  margin: 30px;
  overflow: hidden;

  background: #9bf0bd;
  z-index: 3;
  height: auto;
  width: 150px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(56, 56, 56, 0.8);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

#success strong {
  color: #467757;
  font-weight: bold;
  font-size: 18px;
}

.errortoast {
  margin: 0;
  padding: 0;
}

.errortoast {
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px;
  overflow: hidden;

  background: #d14747;
  height: auto;
  width: 150px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(56, 56, 56, 0.8);

  display: flex;
  justify-content: space-between;
  align-items: center;

}